body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* main background color (navbar, page body, listings) */
  --background: hsl(0, 0%, 95%);

  /* dropdown shadow colors */
  --light-shadow: hsla(0, 100%, 0%, 0.1);
  --dark-shadow: hsla(0, 100%, 0%, 0.2);
  --highlight: hsla(0, 0%, 100%, 1);

  /* UKG colors */
  --ukg-dark-green: #014747;
  --ukg-cyan: #2ac7b4;
}