.job-listings-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
}

.listings-container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: center;
  margin-left: -5px;
  width: 93%;
}
#manager-listings-off, #manager-listings-on:hover {
  color: var(--font-color);
  height: 28px;
  background-color: var(--background);
  border-style: none;
  padding: 2px 8px;
  border-radius: 10px;
  box-shadow: 
    5px 5px 8px var(--light-shadow),
    -5px -5px 10px var(--highlight);
}
#manager-listings-off:hover, #manager-listings-on {
  color: var(--font-color);
  cursor: pointer;
  height: 28px;
  background-color: var(--background);
  border-style: none;
  padding: 2px 8px;
  border-radius: 10px;
  box-shadow: 
    inset 3px 3px 6px var(--light-shadow),
    inset -3px -3px 8px var(--highlight);
}

ul {
  list-style-type: none;
}

.job-listings {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  height: 83.7vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-handle) var(--scrollbar-track);
}

.job-listing {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  margin: 15px 0px;
  padding: 10px 15px 15px 15px;
  box-shadow: 
    5px 5px 8px var(--light-shadow),
    -5px -5px 10px var(--highlight);
}

.job-listing:hover {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  margin: 15px 0px;
  padding: 10px 15px 15px 15px;
  box-shadow: inset 
    5px 5px 6px var(--light-shadow),
    inset -5px -5px 8px var(--highlight);
  cursor: pointer;
}

.listing-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-sal {
  text-align: left;
}
#title {
  margin-bottom: -5px;
}
#subtitle {
  display: flex;
  flex-direction: row;
  color: var(--font-sub);
}
#salary {
  width: fit-content;
}
#st-break {
  margin: 0px 10px;
}

.manager-dep {
  text-align: right;
}
#manager-name {
  margin-bottom: -5px;
}
#manager-pos {
  color: var(--font-sub);
}

.listing-desc {
  text-align: left;
  margin: 10px 5px 20px 5px;
}

.listing-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-direction: row;
}
.tags li {
  margin-right: 16px;
  padding: 2px 8px;
  font-size: small;
  background-color: var(--tags);
  border-radius: 8px;
}
.tags li:hover {
  cursor: pointer;
  background-color: var(--tags-hover);
}

#date {
  color: var(--font-sub);
  font-size: small;
}

/*SCROLLBAR STUFF*/
 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
  height: 10px;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-handle-hover);
} 