.login-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  border-radius: 10px;
  width: 300px;
  padding: 50px 25px;
  box-shadow: 0px 0px 15px hsla(0, 100%, 0%, 0.4);
  background-color: var(--background);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ukglogo {
  width: 75%;
  padding: 5px;
  border-radius: 10%;
  margin: 0px 25px;
  margin-bottom: 15px;
}

label {
  font-size: small;
  align-self: flex-start;
  margin-bottom: -4px;
}

input {
  outline: none;
  padding: 10px;
  margin: 10px;
  width: 80%;
  box-shadow: 
    inset 2px 2px 6px var(--light-shadow),
    3px 3px 8px var(--light-shadow),
    -3px -3px 10px white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 5px;
  background-color: white;
}

#email-invalid {
  box-shadow: 
    inset 2px 2px 6px hsla(0, 90%, 40%, 0.3),
    3px 3px 8px hsla(0, 90%, 40%, 0.3),
    -3px -3px 10px hsla(0, 90%, 100%, 1);
}

label {
  text-align: left;
  margin-top: 10px;
}

#submit {
  margin-top: 30px;
  padding: 10px 50px;
  color: white;
  font-size: 15px;
  background-color: rgb(0, 81, 81);
  width: 60%;
}
#submit:hover {
  cursor: pointer;
}

#err-msg {
  text-align: left;
  color: red;
  margin: 0;
  font-size: 0.8rem;
}

#forgot-password {
  text-align: center;
  width: max-content;
  align-self: flex;
  margin: 0;
  font-size: 0.8rem;
  color: #494949;
  text-decoration: none;
}
#forgot-password:hover {
  cursor: pointer;
  color: #918f8f;
}

.bringBackTendiesCredit {
  width: 15%;
  align-items: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.bbtLogo {
  width: 100%;
}