.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    outline: none;
    padding: 10px;
}
#email-valid:focus {
    
}
#email-invalid {
    border: 1px solid red;
    border-radius: 2px;
}

label {
    text-align: left;
    margin-top: 10px;
}

#submit {
    margin: 10px 60px;
}

#err-msg {
    text-align: left;
    color: red;
    margin: 0;
    font-size: 0.8rem;
}

#forgot-password {
    text-align: right;
    width: max-content;
    align-self: flex-end;
    margin: 0;
    font-size: 0.8rem;
}
#forgot-password:hover {
    cursor: pointer;
    color: #666666;
}