.login-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  border-radius: 10px;
  width: 300px;
  padding: 50px 25px;
  box-shadow: 0px 0px 15px var(--darkest-shadow);
  background-color: var(--background);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ukglogo {
  width: 75%;
  padding: 5px;
  border-radius: 10%;
  margin: 0px 25px;
  margin-bottom: 15px;
}

input {
  outline: none;
  padding: 10px;
  margin: 10px;
  width: 80%;
  box-shadow: 
    inset 2px 2px 6px var(--light-shadow),
    3px 3px 8px var(--light-shadow),
    -3px -3px 10px var(--highlight);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 5px;
  background-color: var(--input-background);
}

#email-invalid {
  box-shadow: 
    inset 2px 2px 6px var(--invalid-email-shadow),
    3px 3px 8px var(--invalid-email-shadow-outer),
    -3px -3px 10px var(--highlight);
}

label {
  text-align: left;
  margin-top: 10px;
}

#submit {
  margin-top: 30px;
  padding: 10px 50px;
  color: white;
  font-size: 15px;
  background-color: var(--ukg-dark-green);
  width: 60%;
  box-shadow: 
    0px 3px 10px var(--darkest-shadow);
}
#submit:hover {
  cursor: pointer;
}

#err-msg {
  text-align: left;
  color: red;
  margin: 0;
  font-size: 0.8rem;
}

#forgot-password {
  text-align: center;
  width: max-content;
  align-self: flex;
  margin: 0;
  font-size: 0.8rem;
  color: var(--font-sub);
  text-decoration: none;
}
#forgot-password:hover {
  cursor: pointer;
  color: lightgray;
}

.bringBackTendiesCredit {
  width: 15%;
  align-items: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.bbtLogo {
  width: 100%;
}
