.nav {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 700px;
    min-width: 300px;
    height: 48px;
    margin: 30px 0px 40px 0px;
    justify-content: center;
}

/* .dashboard-search {
    display: flex;
    justify-content: center;
    height: 100%;
}

#searchbar {
    border-style: none;
    flex-grow: 1;
    height: 100%;
    width: auto;
    border-radius: 48px 0px 0px 48px;
    box-shadow: inset 2px 2px 8px hsla(0, 100%, 0%, 0.1),
        3px 3px 8px hsla(0, 100%, 0%, 0.2),
        -3px -3px 10px hsla(0, 0%, 100%, 1);
}

#search-button {
    border-style: none;
    width: 15%;
    height: 100%;
    border-radius: 0px 48px 48px 0px;
    box-shadow: 3px 3px 8px hsla(0, 100%, 0%, 0.2),
        -3px -3px 10px hsla(0, 0%, 100%, 1);
} */

.dashboard-search {
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.search-box {
  flex-grow: 1;
  margin-left: 0px;
}

.dashboard-search button {
  border-radius: 10px;
  border: none;
  padding: 10px 10px 10px 10px;
  box-shadow: 
  3px 3px 8px var(--light-shadow),
  -3px -3px 10px hsl(0, 0%, 100%);
}

.dashboard-search button:hover {
  cursor: pointer;
  box-shadow: inset 3px 3px 8px var(--light-shadow),
  inset -3px -3px 10px var(--highlight);
}